body{
    
    background: url(images/gghz.jpg);
    background-size: 90% ;
    background-repeat: no-repeat;
    background-origin: initial;
    background-color: black;
    
    background-position: center top; 
}

.img{
    display:grid;
    place-content:center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
 
}


.title{
    text-align: center;
    font-size: 300%;
    display: inline;
    color: red;
}

