html { 
    background: url(images/gghz.jpg) no-repeat 
      center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @font-face {
    font-family: 'k';
    src: url('akira_expanded_demo-webfont.woff2') format('woff2'),
         url('akira_expanded_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
  
   max-width: 85%;
   background-color: rgb(2, 2, 37);
   
   
}
.container{
    width: 100%;
    display: grid;
    height: 100%;
   
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  
  align-items: center;
  justify-content: center;
}
.front{
    z-index: 2;
}
.first{
    margin: auto;
    max-width: 100%;
   
}

.title{position: relative;
    top: 60%;
    text-align: center;
    font-size: 400%;
    display: inline;
    color: red;
    font-family: akira_expandedsuper_bold
}

