body{
    
    background: url(gghz.jpg);
    background-size: 90% ;
    background-repeat: no-repeat;
    background-origin: initial;
    background-color: black;
    
    background-position: center top; 
}

#imgPrc{
    
    width: 100%;
    size: 100vh;
    max-height:100vh;

    justify-items:  center;
    align-items: center;
    justify-self: center;
}

